{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div>
    {% if error is defined %}
       There appears to be a problem: {{error}}
       <a href="/settings">Check settings</a>
    {% endif %}
    {% if emails is defined %}
      <h2># emails: {{ emails|length }}</h2>
      {% for email in emails %}
        <li>{{ email.subject }}</li>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
