{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
  <div>
    <h2>{{ headers.subject }}</h2>
    {% if error is defined %}
       There appears to be a problem: {{overview.error}}
       <a href="/settings">Check settings</a>
    {% endif %}
    {% if htmlCleaned %}
        {{ htmlCleaned|raw }}
    {% else %}
        <pre>{{ text }}</pre>
    {% endif %}
    {# TODO: list attachments #}
  </div>
{% endblock %}
